@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    font-family: Open Sans;
}
.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header-title {
    font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 10%;
  background-image: url("../images/bitmap.png");
  height: 500px;
  color: white;
  background-size: 100% 100%;
  background-size: contain;
  background-size: cover;
  text-align: center;
}

.logo {
    width: 37px;
    height: 37px;
    background-color: #20c97d;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 60px;
}
.navbar-inverse{
    background-color: transparent;
    border-color: transparent;
}

.content-wrapper{
    margin-top: 55px;
}
.content-wrapper .title {
    width: 612px;
    height: 55px;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0 auto;
}

.name {
    display: inline-block;
    width: 120px;
    margin-left: 15px;
    vertical-align: top;
    line-height: 1.3em;
    margin-top: 5px;
    color: #999;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.main-nav{
    display: inline-block;
    margin-top: 30px;
}
.nav-tabs {display: inline-block; text-align: right;}
.heading {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #353f4c;
    margin: 0 auto;
    margin-bottom: 60px;
}

.sub-heading {
    width: 434px;
}
.tabs-container{
    text-transform: capitalize;
}
.small-heading {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #353f4c;
}
.clear {
    clear: both;
}
.col {
    display: flex;
}
.left-col {
    width: 500px;
}

.right-col {
    width: 500px;
    margin-left: 80px;
}
nav{
    //background-image: url("../images/back-nav.png");
    position: fixed;
    width: 100%;
    color: #fff;
    padding: 5px;
    top: 0;
}
nav ul {
    margin: 0 auto;
    width: 1024px;
}
nav ul, nav ul li {
    display: inline-block;
}
nav ul li{
    list-style: none;
    padding: 14px 8px;
    a{
        color: #fff;
        &:hover, &:visited {
            color: #20c97d;
            text-decoration: none;
        }
    }
}
.text-block {
    margin-top: 8px;
    margin-bottom: 40px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #353f4c;
  text-align: justify;
}

.blue {
    background-color: #f7f9fc;
}

.text-wrapper{
    padding: 80px 140px;
}
.none {
    padding-left: 0;
    padding-right: 0;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
